.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.child{
  display: inline-block;
  border: 1px solid black;
  background-color: rgb(172, 172, 189);
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.image{
  width: 25px;
  height: 25px;
  padding-left: 110px;
}
.name{
  color: red;
  font-weight: bold;
  width: 250px;
}
.symbol{
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.children{
  margin: 10px;
  display: block;
}
.symbol{
  color: #246199;
}
.price{
  color: yellow;
}
.input{
  width: 200px;
  height: 30px;
  padding: 3px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
}